<%- layout('layouts/boilerplate')  %> 
<div class="row">
    <h1 class="text-center">Register</h1>
    <div class="col offset-3">
    <form action="/register" method="POST" class="validatedForm" novalidate>
        <div class="mb-3">
            <label class="form-label"  for="username">Username: </label>
            <input class="form-control" id="username" type="text" name="user[username]" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Username cannot be empty
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label"  for="email">Email: </label>
            <input class="form-control" id="email" type="email" name="user[email]" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Incorrect Email format
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label"  for="password">Password: </label>
            <input class="form-control" id="password" type="password" name="user[password]" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Password cannot be empty
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Register</button>
        </div>
    </form>
    </div>
</div>